@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.feedback-section 
{
  position: relative;
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
.feedback-section::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F0F0F0;
}
/* @keyframes animate 
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
} */

.feedback-section span:hover 
{
  background: #4CB5F9;
  transition: 0s;
}

.feedback-section .contact
{
  position: absolute;
  width: 400px;
  background:#FFFFFF;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}
.feedback-section .contact .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.feedback-section .contact .content h2 
{
  font-size: 2em;
  color: #4CB5F9;
  text-transform: uppercase;
}
.feedback-section .contact .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.feedback-section .contact .content .form .inputBox
{
  position: relative;
  width: 100%;
}
.feedback-section .contact .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #FFFFFF;
  border: 0.5px solid #aaa;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #000;
  font-weight: 500;
  font-size: 1em;
}
.feedback-section .contact .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.contact .content .form .inputBox input:focus ~ i,
.contact .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #aaa;
}
.contact .content .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.contact .content .form .links a 
{
  color: #000;
  text-decoration: none;
}
.contact .content .form .links a:nth-child(2)
{
  color: #4CB5F9;
  font-weight: 600;
}
.contact .content .form .inputBox input[type="submit"]
{
  padding: 10px;
  background:#4CB5F9;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active
{
  opacity: 0.6;
}

@media (max-width: 900px)
{
  .feedback-section{
    width: auto;
  }
  .feedback-section .contact{
    width: 400px;
    height: 80vh;
  }
  .feedback-section span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 500px)
{
  .feedback-section{
    width: auto;
  }
  .feedback-section .contact{
    width: 300px;
    height: 65vh;
  }
  .feedback-section span 
  {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);

}
.feedback-section .contact .content .form .inputBox input 
{
  padding: 15px 8px 5px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.8em;
}
.contact .content .form .inputBox input[type="submit"]
{
  padding: 5px;
  font-size: 1.15em;
}

.feedback-section .contact .content 
{
  gap: 20px;
}
.feedback-section .contact .content h2 
{
  font-size: 1.6em;
}
.feedback-section .contact .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

}