.main-service{
  display: flex;
  justify-content: space-around;
  margin: 60px;
  gap: 20px;
  flex-wrap: wrap;
  overflow: hidden;
}
/* .main-service div{
  background-color: red;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  gap: 10px;
  transition: transform 0.5s ease-in-out;

} */
.main-service div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  background-color: rgb(17, 206, 121);
  margin: 20px auto;
  width: 250px;
  height: 250px;
  border-radius: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

.main-service div:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.main-service div:hover::before, .main-service div:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background: #FDA8CF;
  border-radius: 45px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.main-service div:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}
.main-service span{
  font-size: 30px;
}