@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.about-us{
  height: auto;
  width: 100%;
  margin-block: 70px;
}
.pic{
  height: 400px;
  width:  500px;
}
.about{
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
.text{
  width: 100%;
  text-wrap: wrap;
}
.text h2{
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 10px;

}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.text span{
  color: #4070f4;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  text-wrap: wrap;
}
.data{
  margin-top: 30px;
  text-align: start;
}
.hire{
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover{
  background: #000;
  border: 1px solid #4070f4;
}

@media screen and (max-width:768px) {
  .about-us{
    height: auto;
    width: 100%;
    margin-block: 70px;
  }
  .pic{
    height: 300px;
    width:  600px;
  }
  .about{
    width: 100%;
    flex-direction: column;
    gap: 40px;
  }
  .text{
    width: 80%;
  }
  .text h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
  
  }
  .text h5{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
 
  .text p{
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .data{
    margin-top: 30px;
    text-align: start;
  }
  .hire{
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;
  }
  
}
@media screen and(max-width:480px){
 .about-us.about .text h2{
    font-size: 40px;
  }
  .about-us{
    height: auto;
  }
 .about-us .about .text{
    padding: 20px;
  }
}